
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body {
  background: url("background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height:100%;
  font-family: 'Open Sans Condensed', sans-serif;
}
.container {
  position: absolute;
  top: 5%;
  left: 10%;
  right: 10%;
  bottom: 5%;
  width: 74%;
  height: 84%;
  padding: 3%;
  margin: 0;
  background-color: whitesmoke;
  z-index: 999;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
.line {
  width: 100%;
  height: 2px;
  background-color: rgba(218, 224, 234, 0.8);
  margin: 10px 0px;
}
.header {
  height: 20%;
  overflow: hidden;
}
.header .title {
  width: 80%;
  float: left;
}
.header .titleImage {
  width: 18%;
  height: 100%;
  float: left;
}
.header .titleImage img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
.profile {
  width: 100%;
  height: 20%;
}
.profile p {
  margin: 5px;
}
.side {
  width: 28%;
  float: left;
  padding-right: 2%;
}
.main {
  width: 70%;
  float: left;  
}
/* Skills */
.skills span {
  display: block;
}
.title {
  font-weight: 1000;
}
